*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text]{
    outline:none;
}

input[type = text]:focus{
    border: 3px solid black;
}

.search-button:hover{
    background-color: rgba(226, 217, 217, 0.706);
}

.search-button{
    margin-top: 60px;
    border: 2px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    background-color: white;

}

.search-bar-container{
    display: flex;
    gap: 10px;
    position: relative;
}

.search-bar{
    margin-top: 60px;
    height: 35px;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 15px solid rgb(206, 182, 0);
    margin-top: 50px;
    height: 600px;
    border-radius: 30px;
    padding: 15px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.979);
}

.name{
    height: 40px;
    text-transform: capitalize;
    font-size: 40px;
}

img{
    width: 250px;
}

.image{
    display: flex;
    justify-content: center;
    border: 5px solid rgb(206, 182, 0);;
    height: 250px;
    margin-top: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.979);
}

h3{
    margin-top: 25px;
    font-size: 25px;
    text-transform: capitalize;

}

.loading{
    padding: 60px;
    margin-top: 80px;
}

h4{
    margin-top: 10px;
    font-size: 20px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.key {
    padding: 10px;
    font-size: 18px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

.clear {
    grid-column: span 3;
}

.keypad-container{
    border: 2px solid;
    width: 100px;
    position: absolute;
    top: 120px;
    left: 720px;

    
}

.page{
    background-image: url("background.jpg");
}

